@import "tailwindcss";

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f9fafb;
    /* Light gray background */
}

/* Custom input style for forms */
.input {
    @apply w-full px-4 py-2 border border-gray-300 rounded-lg focus:ring-2 focus:ring-indigo-500 focus:border-indigo-500 outline-none transition;
}

.nav-link {
    @apply text-gray-600 hover:text-black px-3 py-2 rounded-md text-sm font-medium transition;
}

.btn-primary {
    @apply px-8 py-3 rounded-xl text-white font-semibold bg-black hover:bg-gray-800 disabled:bg-gray-400 disabled:cursor-not-allowed transition;
}

.btn-secondary {
    @apply px-8 py-3 rounded-xl border border-gray-300 font-semibold hover:bg-gray-100 disabled:bg-gray-200 disabled:cursor-not-allowed transition;
}




@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll {
    animation: scroll 20s linear infinite;
}


body {
    overflow-x: hidden;
}